html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-image: url("assets/img3.jpeg");
}

.footer {
    background-color: aqua;
    padding-top: 100px;
    padding-bottom: 100px;
}

.decoration {
    color: red;
}